body{
    background: url('../images/formwallpaper.jpg');
    background-repeat: no-repeat;
}

section {
    background: black;
}

h1 {
    font-size: 36px;
    text-align: center;
    background: none;
    color: white;
}

form {
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-style: oblique;
    color: white;
    background: black;
    /* background-image: url('../images/backgroundbanner.png'); */
}

body p {
    text-align: center;
    font-size: 18px;
    background: none;
    color: white;
}
.bottom{
    margin: 0;
    position: absolute;
    top: 75%;
    left: 85%;
    background: black;
    color: white;
    transform: translate(-50%, 50%)
}
