html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('../images/wallpaper.jpg');
    background-size: cover;
}
body h1 {
    font-size: 36px;
    margin: 0;
    position: absolute;
    top: 42%;
    left: 50%;
    color: firebrick;
    text-shadow: 3px black;
    transform: translate(-50%, 50%);
}
body p{
    font-size: 22px;
    margin: 0;
    color:aqua;
}

body section {
    background-size: 60px;
    background-color: black;
    font-size: 18px;
    margin: 0;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, 50%)
}

body section .button{
    background-color: greenyellow;
    border: 2px solid rgba(120, 120, 120, 0);
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

body section .button a {
    text-decoration: none;
}