body {
    background: black;
    overflow: hidden;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: navy;
}

.resources-left {
    position: absolute;
    top: 0;
    width: 45vw;
    height: 60px;
}

.resources-left button {
    float: right;
    width: auto + 5px;
    height: 100%;
    vertical-align: middle;
    border: none;
    border-right: 3px solid grey;
    background-color: darkslategrey;
}

.resources-left button:hover + .hover-text{
    cursor: pointer;
    display: block;
}

.hover-text{
    display: none;
    position: absolute;
    left: 300px;
    top: 20px;
    width: auto;
    color: white;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.warning {
    position: absolute;
    font-size: x-small;
    top: 70px;
    right: 0px;
    width: 200px;
    background-color: red;
    border: 5px solid grey;
    display: none;
}

#battlebutton {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    left: 45%;
    right: auto;
    transition: 0.5s;
}

#battlebutton:hover {
    cursor: pointer;
    padding: 5px;
    /* background-color: black; */
}

#btn-sidebar {
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 2px 4px;
    transition: 0.5s ease;
}

#btn-sidebar button {
    border: 2px solid grey;
    transition: 0.5s;
}

#btn-sidebar button:hover {
    cursor: pointer;
    padding: 2px;
}

.img-battle {
    position: relative;
    top: -2px;
}

.logo {
    margin: 0;
    position: absolute;
    top: 0;
    left: 4px;
    border-right: 3px solid grey;
    border-bottom: 3px solid grey;
    transition: 0.5s;
}

.logo:hover {
    cursor: pointer;
    background: cyan;
}

#readme {
    background: transparent;
}

#sidemenu-open {
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s ease;
    /* border-left: 4px solid grey */
}


#sidemenu-open:hover {
    cursor: pointer;
    padding: 4px;
}

#sidemenu-close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s ease;
    /* border-left: 4px solid grey */
}


#sidemenu-close:hover {
    cursor: pointer;
    padding: 4px;
}

.sidebar {
    position: absolute;
    padding: 8px;
    text-align: center;
    bottom: 0;
    left: 0;
    line-height: 55px;
    height: 100%;
    width: 65px;
    background-color: navy;
    transform: translate(-100px);
    transition: 0.5s ease;
    top: 60px;
}

#readme-sidebar {
    position: absolute;
    top: 15px;
    left: 0px;
    background: transparent;
    border: none;
}

.logo-sidebar {
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    transition: 0.5s ease;
}
.logo-sidebar:hover {
    cursor: pointer;
    background-color: cyan;
}

.sidebar .links {
    position: absolute;
    top: 5vh;
    left: 0;
    margin: 0;
    font-size: 12px;
}

.sidebar .links a {
    color: white;
}

.fakebar {
    position: absolute;
    padding: 8px;
    bottom: 0;
    left: 0;
    height: calc(90vh - 10px);
    width: 55px;
    background-color: navy;
}

.fakebar h1 {
    font-size: large;
    color: grey;
}

.bottombar {
    position: absolute;
    bottom: 0.5px;
    right: 0;
    height: 50px;
    text-align: right;
    width: 100%;
    border-spacing: 2%;
    background: navy;
}

.leftern {
    position: absolute;
    left: 0;
}

.bottombar button {
    float: right;
}

.bottombar button:hover {
    cursor: pointer;
    padding-left: 4px;
}

#time-display {
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    right: 65px;
    width: 120px;
    font-size: large;
    background-color: rgb(52, 61, 82);
    border-left: 3px solid grey;
    border-right: 3px solid grey;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#sel-type {
    position: absolute;
    right: 225px;
    vertical-align: middle;
    height: 50px;
    width: auto;
    border-left: 3px solid grey;
    border-right: 3px solid grey;
}

/* #sel-type label {
    color: white;
} */

#sel-type #w-types {
    height: 50px;
    text-align: center;
    background-color: rgb(52, 61, 82);
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    transition: 0.5s ease;
}

#sel-type #w-types:hover {
    cursor: pointer;
}

#sel-type #w-types option {
    font-family: sans-serif;
    text-align: left;
    border: 3px solid grey;
}

#sel-type #w-types .none {
    font-style: bold;
}

#map {
    position: relative;
}

#map:hover {
    cursor: crosshair;
}

canvas {
    top: 70px;
    height: calc(85vh - 8px);
    left: 10%;
    width: 80%;
    overflow: hidden;
    position: absolute;
}

.button-map {
    position: absolute;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: larger;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 100%;
    transition: 0.5s
}

.button-map:hover {
    cursor: pointer;
    padding: 2px;
}

#zoomin {
    top: 50%;
}

#zoomout {
    top: 40%;
}


.copy-link {
    display: none;
    background-color: rgb(63, 215, 99);
    border: 1px solid darkgreen;
    position: absolute;
    left: 25%;
    font-size: 1em;
    top: 10%;
}

.copy-link:hover {
    background-color: darkgreen;
    cursor: pointer;
}

#spectate-link {
    top: 50%;
    left: 23.3%
}

@media only screen and (max-width: 1024) {
    .resources-left {
        height: 45px;
    }

    .resources-left button {
        height: 45px;
        width: 45px;
    }

    .resources-left button img {
        max-width: 45px;
        max-height: 45px;
    }
}