body {
    background: black;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: navy;
}

#battlebutton {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    left: 45%;
    right: auto;
    transition: 0.5s;
}

#battlebutton:hover {
    cursor: pointer;
    padding: 5px;
    /* background-color: black; */
}

#btn-sidebar {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 2px 4px;
    transition: 0.5s ease;
}

#btn-sidebar button {
    border: 2px solid grey;
    transition: 0.5s;
}

#btn-sidebar button:hover {
    cursor: pointer;
    padding: 2px;
}

.img-battle {
    position: relative;
    top: -2px;
}

.logo {
    margin: 0;
    position: absolute;
    top: 0;
    left: 4px;
    border-right: 3px solid grey;
    border-bottom: 3px solid grey;
    transition: 0.5s;
}

.logo:hover {
    cursor: pointer;
    background: cyan;
}

#readme {
    background: transparent;
}

#sidemenu-open {
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s ease;
    /* border-left: 4px solid grey */
}


#sidemenu-open:hover {
    cursor: pointer;
    padding: 4px;
}

#sidemenu-close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s ease;
    /* border-left: 4px solid grey */
}


#sidemenu-close:hover {
    cursor: pointer;
    padding: 4px;
}

.sidebar {
    position: absolute;
    padding: 8px;
    text-align: center;
    bottom: 0;
    left: 0;
    line-height: 55px;
    height: 89%;
    width: 60px;
    background-color: navy;
    transform: translate(-100px);
    transition: 0.5ms ease;
}

.sidebar .links {
    position: absolute;
    top: 10vh;
    left: 0;
    margin: 0;
    font-size: 12px;
}

.sidebar .links a {
    color: white;
}
/* .battle{
    text-align: right;
    vertical-align: top;
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 12px;
    border: 1px solid white;
    border-radius: 1rem;
}

.battle:hover{
    background: cyan;
    transition: 0.5s ease;
    cursor: pointer;
} */

#map {
    height: 600px;
    cursor: move;
    position: relative;
}

#container {
    top: 60px;
    height: 600px;
    left: 60px;
    width: 90%;
    overflow: hidden;
    position: relative;
}

.button {
    position: absolute;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: larger;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 100%;
}

#zoomin {
    top: 50%;
}

#zoomout {
    top: 40%;
}
