*{
    
}
body{
    background-color: black;
    font-size: 20px;
    color: grey;
    font-family: Tahoma;
    text-align: center;
    background: url("../../tools/images/wallpaper.jpg") no-repeat;
    background-size: cover;
}


h1{
    font-family: Papyrus;
    font-size: 60px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.sidebar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 60px;
    background-color: black;
    padding: 16px;
    text-align: left;
}

.sidebar section{
    border-top: 3px solid grey;
}

.login{
    position: absolute;
    top: 80%;
    left: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
}

.register{
    position: absolute;
    top: 85%;
    left: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
}

.note{
    position: relative;
    text-align: right;
    font-style: italic;
    color: white;
}

@media only screen and (max-width: 1124px) {
    body{
        font-size: 20px;
        text-align: right;
    }
    h1{
        font-size: 40px;
    }
    @media only screen and (max-width: 730px) {
        body{
            font-size: 15px;
            text-align: right;
        }
        h1{
            font-size: 30px;
        }
        @media only screen and (max-width: 565px) {
            body{
                font-size: 15px;
                text-align: right;
                background: url("../../tools/images/portraitbackground.jpg") no-repeat;
                background-size: cover;
            }
            h1{
                font-size: 25px;
            }
            @media only screen and (max-width: 500px) {
                body{
                    font-size: 12px;
                    text-align: right;
                    background: url("../../tools/images/portraitwallpaper.jpg") no-repeat;
                    background-size: cover;
                }
                h1{
                    font-size: 20px;
                }
                @media only screen and (max-width: 415px) {
                    body{
                        font-size: 10px;
                        text-align: right;
                    }
                    h1{
                        font-size: 15px;
                    }
                    
                }
            }
        }
    }
}
